#wapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#head {
  font: italic bold 44px arial,sans-serif;
  border-bottom: 2px solid;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}

#side {
  width: 120px;
  float: left;
}

#main {
  width: 830px;
  float: left;
  margin-left: 10px;
}
